.hero_row{
    max-height: 70vh;
}


.hero_right_container{
    max-height: 50vh;
}
.hero_imagen{
    width: auto; height: 100%; 
    overflow:inherit;
    object-fit:contain;
}

.section_card{
    width: 15rem;

}

.section{
 border: 0cap;
}